<!DOCTYPE html>
<html>
<head>
	<title><%= title_string %></title>
	<style type="text/css" media="all">
	<%@stylesheets<<"application.css"%>
	<%for sheet in @stylesheets%>
	@import url('/stylesheets/<%=sheet%>');
	<%end%>
	</style>
	<%for js in @javascripts%>
	<script src="<%=js%>" type="text/javascript" charset="utf-8"></script>
	<%end%>
	<%unless $development_server%>
	<script type="text/javascript">

	var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-36907325-1']);_gaq.push(['_setDomainName','team1389.com']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();
	</script>
	<%end%>
</head>
<body>
	<div id="container">
		<div id="main-header">
			<div class="title"><%=title_string%></div>
			<div id="navbar">
				<a href="/">Home</a>
				<a href="/gallery.html">Gallery</a>
			</div>
		</div>
		<div id="subcontents">
			<%= subcontents %>
		</div>
		<div id="license">
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="/images/creative-commons.png" /></a><br />This work is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License. FIRST and its logo are copyright by their respective owners.
		</div>
	</div>
</body>
</html>
